body {
  font-family: Helvetica, Arial, sans-serif;
  background: #333;
  color: #FFF;
  border-top: 5px solid #69c773;
  padding: 0 1em;
  margin: 0;
}

iframe {
  background: #FFF;
  border: 3px solid #000;
}