<header class="header">
    <div class="navigation">
        <center><a href="/" class="logo glitch">{{ site.title }}</a>

        <ul class="menu">
        {% if site.author.github %}
            <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
        
            <a href="https://avicoder.me/feed" class="social-links__entry" target="_blank">
                <i class="fa fa-rss"></i>
            </a>
    </ul>


    </center>
 <div class="glitch"><a style="color:maroon" href="mailto:avicoder@outlook.com">Hire me</a></div>
   <br/>
   
</div>
   <hr class="style18" />
</header>
